/* add your CSS here */
#container {  
    border: 5px solid gray;
    background-color: bisque;
    padding: 10px;
    box-shadow: 10px 5px #666;    
}

img {
    width: 300px;
  	height: 200px;
    margin: 1em;
    border: 5px solid gray; 
  	
}

#Interesting-Facts {
    font-style: italic;
  	border: 5px solid gray; 
   
}

span {
    font-weight: bold;
}

h3 {
  padding: 10px;
  text-align: center;
  border: 5px solid gray;
}

#remove-dot{
   list-style-type: none;
}


#animal-description {
    padding: 10px;
    font-style: normal;
	border: 5px solid gray;
}

